<div class="card-column">
    <div class="card" *ngFor="let pokemon of pokemons; let i = index">
        <div class="img">
            <img class="card__img" src="{{ pokemon.img }}" />
        </div>
        <div class="card-block">
            <h3 class="card__tittle">{{ pokemon.nombre }}</h3>
            <p class="card__element">Tipo: {{ pokemon.tipo }}</p>
            <!-- para hacerlo con programación -->
            <button class="card__button" type="button" name="button" (click)="verPokemon(i)">
        ver más
      </button>
            <!-- Para hacerlo solo con ruta sin código -->
            <!-- <button class="card__button" type="button" name="button" [routerLink]="['/pokemon', i]"> ver más </button> -->
        </div>
    </div>
</div>