<div class="header">
    <div class="header-nav">
        <ul class="nav-ul">
            <li class="nav__element">
                <a [routerLink]="['home']" routerLinkActive="active">Home</a>
            </li>
            <li class="nav__element">
                <a [routerLink]="['pokemons']" routerLinkActive="active">Pokemons</a>
            </li>
        </ul>
        <form class="formSearch" (keydown.enter)="$event.preventDefault()">
            <input type=" text " placeholder=" Buscar Pokemon " (keyup.enter)="buscarPokemon(buscarTexto.value) " #buscarTexto>
            <button type="button " class="searchButton " (click)="buscarPokemon(buscarTexto.value)">Buscar</button>
        </form>
    </div>
</div>