.header {
    background-color: rgb(46, 69, 84);
}

.nav-ul {
    margin: 0;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    list-style: none;
}

.nav-ul a {
    color: #fff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

.active {
    font-weight: bold;
    border-bottom: 1px solid white;
}