<nav class="navbar">
    <div class="navbar-block1">
        <button class="navbar__button" type="button" data-toggle="">
      <span class="navbar__icon"></span>
    </button>
        <a class="navbar__brand" href="#">
            <img src="assets/img/A-64.png" alt="" />
        </a>
        <ul class="navbar__nav">
            <li class="navbar__item" routerLinkActive="active">
                <a class="navbar__link" [routerLink]="['HomeComponent']">Home</a>
            </li>
            <li class="navbar__item" routerLinkActive="active">
                <a class="navbar__link" [routerLink]="['HeroesComponent']">Heroes</a>
            </li>
            <li class="navbar__item" routerLinkActive="active">
                <a class="navbar__link" [routerLink]="['AboutComponent']">About us</a>
            </li>
        </ul>
    </div>
    <div class="navbar-block2">
        <form action="#" class="navbar-form">
            <input class="form__input" type="text" placeholder="Search" />
            <button class="button" type="submit">Search</button>
        </form>
    </div>
</nav>