.formulary {
    text-align: center;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 1em;
    background-color: rgb(235, 228, 228);
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgba($color: #000000, $alpha: 0.3);
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formulary input {
    min-width: 250px;
}

.form-row,
.menssage {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

.red {
    color: red;
}

.column {
    display: flex;
    flex-direction: column;
}