<div class="card-column">
    <div class="card">
        <div class="img">
            <img class="card__img" src="{{ pokemon.img }}" />
        </div>
        <div class="card-block">
            <h3 class="card__tittle">{{ pokemon.nombre }}</h3>
            <p class="card__element">Tipo: {{ pokemon.tipo }}</p>
            <p class="card__element">{{ pokemon.descripcion }}</p>
            <button class="card__button" type="button" name="button" [routerLink]="['/pokemons']">
        volver
      </button>
        </div>
    </div>
</div>