/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
}

footer {
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgb(46, 46, 46);
}